<div class="body">

  <div class="maincontainer">

  <div class="title">
    <h1>استكشاف</h1>
  </div>

  <div class="search-container">
    <a class="a-search" routerLink="/apps/pages/search">
      بحث
      <i class="fas fa-search search-icon"></i>
    </a>
  </div>

  <div class="parentContainer">
      <a *ngFor="let item of Suggested_Plants" class="a-card" href="/apps/pages/plant-information/{{item.id}}">
        <img class="plantImage" src="{{item.plantImage}}" alt="صورة">
        <!-- <i class="fa-solid fa-leaf"></i> -->
        <p class="PS">{{item.plant}}</p>
      </a>
  </div>

</div>

</div>
