<div class="body">

  <div class="maincontainer">

    <div class="title">
      <h1>معلومات الحيوان</h1>
    </div>

    <!-- <div  *ngFor="let item of Animal_Info"> -->
    <div class="inputGroup">
      <label class="inputLabel" for="text">- المعلومات الأساسية للحيوان:</label>
      <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information1" disabled>    </div>

    <div class="inputGroup">
      <label class="inputLabel" for="text">- النباتات المستهدفة:</label>
      <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information2" disabled>    </div>

    <div class="inputGroup">
      <label class="inputLabel" for="text">- أعراض الأضرار على النبات:</label>
      <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information3" disabled>    </div>

    <div class="inputGroup">
      <label class="inputLabel" for="text">- السلوك والنشاط:</label>
      <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information4" disabled>    </div>

    <div class="inputGroup">
      <label class="inputLabel" for="text">- دورة الحياة والتكاثر:</label>
      <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information5" disabled>    </div>

    <div class="inputGroup">
      <label class="inputLabel" for="text">- الأسباب والعوامل المساعدة:</label>
      <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information6" disabled>    </div>

    <div class="inputGroup">
      <label class="inputLabel" for="text">- التشخيص:</label>
      <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information7" disabled>    </div>

    <div class="inputGroup">
      <label class="inputLabel" for="text">- طرق المكافحة:</label>
      <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information8" disabled>    </div>

    <div class="inputGroup">
      <label class="inputLabel" for="text">- التأثيرات الاقتصادية والبيئية:</label>
      <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information9" disabled>    </div>

    <div class="inputGroup">
      <label class="inputLabel" for="text">- التوصيات:</label>
      <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information10" disabled>    </div>
  <!-- </div> -->

    <div class="conversation-container">
      <a class="a-conversation" routerLink="/apps/pages/chat-page">
        ناقش واعرف المزيد
        <i class="fa-solid fa-comments"></i>
      </a>
    </div>

  </div>

</div>
