<div class="body">

  <div class="maincontainer">

    <div class="title">
      <h1>نباتات سامة</h1>
    </div>

    <div class="search-container">
      <a class="a-search" routerLink="/apps/pages/search">
        بحث
        <i class="fas fa-search search-icon"></i>
      </a>
    </div>

    <p class="p-imge">التقط صورة أو قم بتحميلها</p>

    <label for="imageInput" class="file-label">
      <i class="fa-solid fa-camera"></i>
      <p class="PS">اضغط هنا</p>
    </label>
    <input type="file" id="imageInput" accept="image/*" capture="environment" style="display: none;"
      (change)="onFileSelected($event)" />

    <p>اقتراح نباتات سامة</p>
    <div class="parentContainer">
      <a *ngFor="let item of Suggested_Plants" class="a-card" routerLink="/apps/pages/poisonous-plant-info/{{item.id}}">
        <img class="plantImage" src="{{item.plantImage}}" alt="صورة">
        <!-- <i class="fa-solid fa-leaf"></i> -->
        <p class="PS">{{item.plant}}</p>
      </a>
    </div>

  </div>

</div>
