<footer class="footer">

  <div class="footerTop">

    <div class="contact">
        <h3>تواصل معنا</h3>
        <div class="contactInfo">
            <a href="tel:+0500000000" class="contactItem">
                <i class="fas fa-phone-alt"></i>
                <span>0500000000</span>
            </a>
            <a href="mailto:example@example.com" class="contactItem">
                <i class="fas fa-envelope"></i>
                <span>GreenEco&#64;gmail.com</span>

            </a>
            <a class="contactItem">
                <i class="fas fa-map-marker-alt"></i>
                <span>المملكة العربية السعودية</span>
            </a>
        </div>
    </div>

    <div class="logo">
      <img src="../../../../assets/images/bio-leaves (1).png" alt="Green Eco">
    </div>

  </div>

  <div class="footer-bottom">
      <p>&copy; Green Eco | جميع الحقوق محفوظة 2024</p>
  </div>

</footer>
