<div class="body">

  <div class="maincontainer">

  <div class="title">
    <h1>تفاصيل المرض</h1>
  </div>

  <!-- <div  *ngFor="let item of information"> -->
  <div class="inputGroup">
    <label class="inputLabel" for="text">- المعلومات الأساسية للمرض:</label>
    <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information1" disabled>
  </div>

  <div class="inputGroup">
    <label class="inputLabel" for="text">- أعراض المرض:</label>
    <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information2" disabled>
  </div>

  <div class="inputGroup">
    <label class="inputLabel" for="text">- دورة حياة المرض:</label>
    <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information3" disabled>
  </div>

  <div class="inputGroup">
    <label class="inputLabel" for="text">- الأسباب والعوامل المساعدة:</label>
    <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information4" disabled>
  </div>

  <div class="inputGroup">
    <label class="inputLabel" for="text">- الوقاية:</label>
    <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information5" disabled>
  </div>

  <div class="inputGroup">
    <label class="inputLabel" for="text">- التشخيص:</label>
    <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information6" disabled>
  </div>

  <div class="inputGroup">
    <label class="inputLabel" for="text">- العلاج:</label>
    <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information7" disabled>
  </div>

  <div class="inputGroup">
    <label class="inputLabel" for="text">- التأثيرات الاقتصادية والبيئية:</label>
    <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information8" disabled>
  </div>

  <div class="inputGroup">
    <label class="inputLabel" for="text">-التوصيات:</label>
    <input class="inputField" id="text" type="text" name="textName" [value]="informationToDisplay.information9" disabled>
  </div>
<!-- </div> -->

  <div class="conversation-container">
    <a class="a-conversation" routerLink="/apps/pages/chat-page">
      ناقش واعرف المزيد
      <i class="fa-solid fa-comments"></i>
    </a>
  </div>

  </div>

  </div>
